<div>
    <% if (allBuildingsArray != null) { %>
    <%  allBuildingsArray.forEach(building => { %>
    <div class="individual_location_wrapper">
        <h3> <a href="/buildings/<%= building._id%>"> <%= building.location  %> </a> </h3>
        <a href="/buildings/edit/<%= building._id%>">Edit</a>
    </div>
    <% }) %>
    <% } %>
</div>