<div>
    <label>Name</label>
    <input type="text" name="name">
</div>
<div>
    <label>User Name</label>
    <input type="text" name="username">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
</div>
<div>
    <label for="authorizationLevel">Authorization</label>
    <input type="authorizationLevel" name="authorizationLevel">

    </div>
<div>
    <label>Telephone Number</label>
    <input type="number" name="cell_number" min="1">
</div>
<div>
    <label>Group</label>
    <input type="text" name="group">
</div>
