<script>

  var user_toggle = 0;
  var building_toggle = 0;
  var machine_toggle = 0;

  setInterval(current_time, 1000);

  function current_time() {
    let time = new Date();
    let hour = time.getHours();
    let min = time.getMinutes();
    let sec = time.getSeconds();
    am_pm = "AM";

    if (hour > 12) {
      hour -= 12;
      am_pm = " PM";
    }
    if (hour == 0) {
      hr = 12;
      am_pm = " AM";
    }
    min = min < 10 ? "0" + min : min;
    sec = sec < 10 ? "0" + sec : sec;

    let currentTime = hour + ":"
      + min + ":" + sec + am_pm;

    document.getElementById("clock")
      .innerHTML = currentTime;
  }
  current_time();

  function openForm() {
    document.getElementById("popup_form").style.display = "block";
    document.getElementById("form_background").style.display = "block";
  }
  function closeForm() {
    document.getElementById("popup_form").style.display = "none";
    document.getElementById("form_background").style.display = "none";
  }

  function user_createOpen() {
    document.getElementById("user_create").style.display = "block";
  }
  function user_createClose() {
    document.getElementById("user_create").style.display = "none";
  }
  function building_createOpen() {
    document.getElementById("building_create").style.display = "block";
  }
  function building_createClose() {
    document.getElementById("building_create").style.display = "none";
  }
  function post_createOpen() {
    document.getElementById("post_create").style.display = "block";
  }
  function post_createClose() {
    document.getElementById("post_create").style.display = "none";
  }
  function machine_createOpen() {
    document.getElementById("machine_create").style.display = "block";
  }
  function machine_createClose() {
    document.getElementById("machine_create").style.display = "none";
  }

  function users_options() {
    if (user_toggle == 0) {
      user_toggle++;
      document.getElementById("users_controls").style.display = "block";
    }
    else {
      document.getElementById("users_controls").style.display = "none";
      user_toggle = 0;
    }
  }
  function building_options() {
    if (building_toggle == 0) {
      building_toggle++;
      document.getElementById("building_controls").style.display = "block";
    }
    else {
      document.getElementById("building_controls").style.display = "none";
      building_toggle = 0;
    }
  }
  function machine_options() {
    if (machine_toggle == 0) {
      machine_toggle++;
      document.getElementById("machine_controls").style.display = "block";
    }
    else {
      document.getElementById("machine_controls").style.display = "none";
      machine_toggle = 0;
    }
  }
</script>

<div>
  <div class="nav_bar" id="nav_bar">

    <div class="left_nav">
      <p>
        <a href="/" id="nav_link"> Dashboard </a> |
        <a href="/buildings" id="nav_link"> Locations </a> |
        <a href="/machines" id="nav_link"> Machines </a> |
        <a href="/users" id="nav_link"> User</a> |
        <button id="user_controls" onclick="openForm()"> Controls </button>
      <div class="popup_form" id="popup_form">
        <div id="admin">
          <div id="form_element">
            <button id="control_header" onclick="users_options()"> Users </button>
            <div id="users_controls">
              <a href="/users/all"><button id="btn_default"> Master List </button></a>
              <a href="/users/new"><button id="btn_accept"> Create New </button></a>
            </div>
          </div>
          <div id="form_element">
            <button id="control_header" onclick="building_options()"> Buildings </button>
            <div id="building_controls">
              <button onclick="building_createOpen()" id="btn_accept"> Create New </button>
              <div class="create_form" id="building_create">
               
                  <a href="../buildings/new.ejs">Create</a>
                  <button onclick="building_createClose()"> Cancel </button>
              
              </div>
              <a href="/buildings/delete"><button id="btn_cancel"> Delete Page</button></a>
            </div>
          </div>
          <div id="form_element">
            <button id="control_header" onclick="machine_options()"> Machines </button>
            <div id="machine_controls">
              <button onclick="machine_createOpen()" id="btn_accept"> Create New </button>
              <div class="create_form" id="machine_create">
                  <%- include('formfieldMachine') %>
                  <button type="submit"> Create Machine </button>
                  <button onclick="machine_createClose()"> Cancel </button>
              </div>
              <a href="/machines/delete"><button id="btn_cancel"> Delete Page</button></a>
            </div>
          </div>
        </div>

        <div id="form_element">
          <button onclick="post_createOpen()"id="btn_accept" > New Post </button>
          <div class="create_form" id="post_create">
            <form>
              
              
              
              <button onclick="post_createClose()"> Cancel </button>
            </form>
          </div>
        </div>

        <a href="/logout"><button id="btn_cancel" style="margin-right: 20px;"> Log Out </button></a>

        <button id="btn_default" onclick="closeForm()"> Close </button>
      </div>

      <div id="form_background"></div>
      </p>
    </div>

    <div class="right_nav">
      <p>
      <div id="post_count">  </div>
      <div id="clock"> [ Loading ] </div>
      </p>
    </div>

  </div>
</div>