<style>
  .nav_bar {
    text-align: center;
    width: 100%;
    position: fixed;
    height: 50px;
    background-image: url(../assets/nav_bar.jpg);
    background-repeat: repeat-x;
    margin-top: -8px;
    margin-left: -8px;
    letter-spacing: 1px;
    color: white;
  }

  .left_nav {
    float: left;
    padding-left: 50px;
  }

  .right_nav {
    float: right;
    padding-right: 50px;
    padding-top: 1px;
  }

  #user_controls {
    padding: none;
    margin: none;
    border: none;
    font: inherit;
    background: inherit;
    color: inherit;
    margin-left: -5px;
  }

  #user_controls:hover {
    cursor: pointer;
  }

  #post_count {
    float: left;
    padding-left: 10px;
  }

  #clock {
    float: left;
    padding-left: 10px;
  }
</style>

<script>

  setInterval(current_time, 1000);

  function current_time() {
    let time = new Date();
    let hour = time.getHours();
    let min = time.getMinutes();
    let sec = time.getSeconds();
    am_pm = "AM";

    if (hour > 12) {
      hour -= 12;
      am_pm = " PM";
    }
    if (hour == 0) {
      hr = 12;
      am_pm = " AM";
    }
    min = min < 10 ? "0" + min : min;
    sec = sec < 10 ? "0" + sec : sec;

    let currentTime = hour + ":"
      + min + ":" + sec + am_pm;

    document.getElementById("clock")
      .innerHTML = currentTime;
  }
  current_time();

  function openForm() {
    document.getElementById("popup_form").style.display = "block";
    document.getElementById("form_background").style.display = "block";
  }
  function closeForm() {
    document.getElementById("popup_form").style.display = "none";
    document.getElementById("form_background").style.display = "none";
  }

</script>

<div>
  <div class="nav_bar" id="nav_bar">

    <div class="left_nav">
      <p>
        <a href="/" style="text-decoration: none; color:white;"> Dashboard </a> |
        <a href="/buildings" style="text-decoration: none; color:white;"> Locations </a> |
        <a href="/machines" style="text-decoration: none; color:white;"> Machines </a> |
        <a href="/users" style="text-decoration: none; color:white;"> User </a> |
        <button id="user_controls" onclick="openForm()"> Controls </button>
      <div class="popup_form" id="popup_form">
        <div>

          <div id="form_element">
            <a href="/posts/new">New Post</a>
          </div>
          <div id="form_element">
            <h4> Buildings </h4>
            <a href="/buildings/new">Add Building</a> <br />
            <a href="/buildings/delete">Delete Building</a>
          </div>
          <div id="form_element">
            <h4> Machines </h4>
            <a href="/machines/new">Add Machine</a> <br />
            <a href="/machines/delete">Delete Machine</a> 
          </div>
          <div id="form_element">
            <h4> Users </h4>
            <a href="/users/all"> Users List </a> <br />
            <a href="/users/new">New User </a> 
          </div>
          <div id="form_element">
            <a href="/logout"> Log Out </a>
          </div>

          <button id="btn_accept" type="submit">Submit</button>
          <button id="btn_cancel" onclick="closeForm()">Close</button>

        </div>
      </div>
      <div id="form_background"></div>

      </p>
    </div>

    <div class="right_nav">
      <p>
      <div id="post_count"> Active: postPendingCount;</div>
      <div id="clock"> [ Loading ] </div>
      </p>
    </div>

  </div>
</div>