
<div class="nav_bar"> 

    <div class="nav_wrapper">
      
      <div class="left_nav_bar"> 
        <p id="l_item_1"> 
          <a href="/" style="text-decoration: none;"> Home </a>
          <a href="/" style="text-decoration: none;">EXAMPLE_TECH </a>
        </p> 
      </div>
  
  
      <div class="right_nav_bar">
        <p id="l_item_2"> 
        [TIME]|[Post counter]|[Pending counter] 
        </p> 
      </div>
  
    </div>
  
  </div>