@charset "UTF-8";
/* CSS Document */

a:link {
  color:white;
}

a:visited {
  color: white;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~  PC Viewing  ~~~~~~~~~~~~~~~~~~~~~~~  */
@media screen and (min-width:845px) {

.background {
}

.nav_bar {
  width:101%;
  height:50px;
  margin-left:-8px;
  margin-top:-8px;
  background-color: black;
  position: fixed;
}

.nav_wrapper {
  width:800px;
  height:40px;
  margin:0 auto;
  text-align:left;
  color: white;
}

#l_item_1 {
  color: white;
}

#l_item_2 {
}

.left_nav_bar {
  float:left;
}

.right_nav_bar {
  float:right;
}

.wrapper {
  width: 720px;
  height: 100%;
  margin:0 auto;
}

h1 {
  padding-left:25px;
}

.top_wrapper{
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  float:left;
  margin-top:55px;
}

.general_wrapper{
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  float:left;
  margin-top:35px;
}

.content_bubble{
  width:650px;
  height:100%;
  padding-left:25px;
  padding-right:25px;
  float:left;
}

.individual_location_wrapper{
  background-color: black;
  float:left;
  height:150px;
  width:150px;
  margin:2px;
  text-align:center;
}

}

/*  ~~~~~~~~~~~~~~~~~~~~~~~  Mobile Viewing  ~~~~~~~~~~~~~~~~~~~~~~~  */

@media screen and (max-width:844px) {

  .background {
  }
  
  .nav_bar {
    width:101%;
    height:100px;
    margin-left:-8px;
    margin-top:-8px;
    background-color: black;
    position: fixed;
  }
  
  .nav_wrapper {
    width:341px;
    height:90px;
    margin:0 auto;
    text-align:left;
    color: white;
  }
  
  #l_item_1 {
  }
  
  #l_item_2 {
  }
  
  .left_nav_bar {
    float:left;
  }
  
  .right_nav_bar {
    float:right;
  }
  
  .wrapper {
    width: 340px;
    height: 100%;
    margin:0 auto;
  }
  
  h1 {
    padding-left:15px;
  }
  
  .top_wrapper{
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    float:left;
    margin-top:105px;
  } 
  
  .general_wrapper{
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    float:left;
    margin-top:35px;
  }

  .content_bubble {
    width:300px;
    height:100%;
    padding-left:25px;
    padding-right:25px;
    float:left;
  }
  
  .individual_location_wrapper{
    background-color: black;
    float:left;
    height:96px;
    width:96px;
    margin:2px;
    text-align:center;
  }

}