<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Brentyn Hanna & Daniel Ventura">
    <meta name="description" content="enterprise routing solution, capable of distribution, database 
    management with in program data control with easy user interface" >
    
    <title>Routing Program</title>

</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- body%>
</body>
</html>