
/* general page */

<link href="../stylesheets/login.css" rel="stylesheet" type="text/css" />
<div class="wrapper"> 
    <div id="text_content"> 
        You encountered an error! Please go back now.
    </div>

    <a href="/"><button id="btn_cancel"> Go Home </button></a>

</div>