
/* for timeout page */

<link href="../stylesheets/login.css" rel="stylesheet" type="text/css" />
<div class="wrapper"> 
    <div id="text_content"> 
        Your session has timed out! Please log back in.
    </div>

    <a href="login.ejs"><button id="btn_accept"> Login </button></a>

</div>

/* general page */

<link href="../stylesheets/login.css" rel="stylesheet" type="text/css" />
<div class="wrapper"> 
    <div id="text_content"> 
        You encountered an error! Please go back now.
    </div>

    <a href="/"><button id="btn_cancel"> Go Back </button></a>

</div>