<div class="wrapper">

    <div class="top_wrapper">
      <h1>Active: </h1>
    
      <div class="content_bubble"> blach blah blah </div>
    </div>
    
    <div class="general_wrapper">
      <h1>Pending: </h1>
      
      <div class="content_bubble"> waiting for blach blah blah </div>
    </div>
    
    <div class="general_wrapper">
      <h1>Drops Today: </h1>
      
      <div class="content_bubble"> JJ, ST, BR, GIN, SST </div>
    </div>
    
    <div class="general_wrapper">
      <h1>Locations : </h1>
      <div class="content_bubble">
      <%- include('partials/allBuildings.ejs') %>
      </div>
    </div>