<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">

  <p>Welcome <%= user.username %>!
    <a href="/logout">LogOut</a> </p>

  <h1>Pending: </h1>
    <div class="database_wrapper">
      <div class="database_label"> Time | Location | Asset | Issue : </div>
      <div class="database_item"> FILLED FROM DATABASE </div>
      <div class="database_item"> FILLED FROM DATABASE </div>
    </div>

  <h1>Holding: </h1>
    <div class="database_wrapper">
      <div class="database_label"> Date | Location | Asset | Issue : </div>
      <div class="database_item"> FILLED FROM DATABASE </div>
      <div class="database_item"> FILLED FROM DATABASE </div>
      <div class="database_item"> FILLED FROM DATABASE </div>
      <div class="database_item"> FILLED FROM DATABASE </div>
    </div>

  <h2>Drops Today: </h1>
    <div class="content_bubble"> DATABASED FILLED FROM CURRENT DAYS DROPPED LOCATIONS </div>

  <h2>Locations : </h1>
    <div class="content_bubble">
      <%- include('partials/allBuildings.ejs') %>
    </div>

</div>