
<form action="/logout/?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<div class="wrapper">

    <div class="top_wrapper">
      <h1>Active: </h1>
    
      <div class="content_bubble"> DATABASED FILLED FROM CURRENT ACTIVE CALLS </div>
    </div>
    
    <div class="general_wrapper">
      <h1>Pending: </h1>
      
      <div class="content_bubble"> DATABASED FILLED FROM ALL WAITING FOR PARTS </div>
    </div>
    
    <div class="general_wrapper">
      <h1>Drops Today: </h1>
      
      <div class="content_bubble"> DATABASED FILLED FROM CURRENT DAYS DROPPED LOCATIONS </div>
    </div>
    
    <div class="general_wrapper">
      <h1>Locations : </h1>
      <div class="content_bubble">
      <%- include('partials/allBuildings.ejs') %>
      </div>
    </div>