<link href="../stylesheets/login.css" rel="stylesheet" type="text/css" />

<script>
    function openForm() {
        document.getElementById("popup_form").style.display = "block";
        document.getElementById("form_background").style.display = "block";
    }
    function closeForm() {
        document.getElementById("popup_form").style.display = "none";
        document.getElementById("form_background").style.display = "none";
    }
</script>

<body>
    <div class="wrapper">
        <div class="title"> <h1> "Example Business" Routing </h1> </div>
        <button id="btn_accept" onclick="openForm()">[ Employee Access ]</button>
            <div class="popup_form" id="popup_form">
                <form action="/login" method="POST">
                    <div>
                        <div id="form_element">
                            <label for="username">Employee ID:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div id="form_element">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button id="btn_accept" type="submit">Login</button>
                        <button id="btn_cancel" onclick="closeForm()">Close</button>
                    </div>
            </div>
            <div id="form_background"></div>
        </form>
        <br/>  <br/>  <br/>
        <h2>Thank you for your service!</h2>
    </div>
</body>

</html>