/* for timeout page */

<link href="../stylesheets/login.css" rel="stylesheet" type="text/css" />
<div class="wrapper"> 
    <div id="text_content"> 
        Your session has timed out! Please log out and log back in.
    </div>

    <a href="/logout"><button id="btn_accept"> Logout </button></a>

</div>