        <% if (buildings != null) { %>
            <%  buildings.forEach(building => { %>
                <h1><%= building.location%></h1>
                <%- include('../partials/deleteForm', 
                        {url: `/buildings/delete/${building._id}`}) %>
        <% }) %>
        <% } %> 