<h2>Edit Building</h2>
<form action="/buildings/edit/<%= building._id %>?_method=PUT" method="POST">

    <%- include('_form_fields') %>
    <a href="/buildings">Cancel</a>
    <button type="submit">Update</button>

</form>