<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<div class="wrapper">
    <br /> <br /> <a href="/buildings/show">All Locations</a> <br /> <br />
    <a href="/buildings/new">Add Building</a> <br />
    <a href="/buildings/delete">Delete Building</a> <br />
</div>