<div>
    <nav>
        <a href="/">Stuff Stuff</a>
        <ul>
            <li><a href="/buildings/show">Buildings</a></li>
            <li><a href="/buildings/new">Add Building</a></li>
            <li><a href="/buildings/delete">Delete Building</a></li> 
        </ul>
    </nav>
</div>