<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">

    TODO: ADD LOCATION SERVICE TYPES

    <h2> Full Service : </h2>
    <div class="content_bubble">
        <%- include('../partials/allBuildings') %>
    </div>

<br/>

    <h2> Contract Service : </h2>
    <div class="content_bubble">
         <%- include('../partials/allBuildings') %> 
    </div>

    <h2> Drop Service only: </h2>
    <div class="content_bubble"> 
        <%- include('../partials/allBuildings') %> 
    </div>

</div>