<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">

    <h1> Full Service : </h1>
    TODO: ADD LOCATION SERVICE TYPES
    <div class="content_bubble"> <%- include('../partials/allBuildings') %> </div>
    <h1> Contract Service : </h1>
    <div class="content_bubble"> <%- include('../partials/allBuildings') %> </div>
    <h1> Drop Service only: </h1>
    <div class="content_bubble"> <%- include('../partials/allBuildings') %>
</div>