h2>Edit User</h2>
<form action="/users/edit/<%= users._id %>?_method=PUT" method="POST">

    <%- include('_form_fields') %>
    <a href="/users">Cancel</a>
    <button type="submit">Update</button>

</form>