<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
    <h2> User Settings: </h2>
    <div class="content_bubble">
        TODO: CUSTOMIZABLE USER SETTINGS AND STATIC DATA
    </div>
    
    <a href="/users/all">All Users List</a> <br /> <br />
    <a href="/users/new">New User</a> <br />
    <a href="/users/delete">Delete User</a>
</div>