<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
    <h2> User Settings: </h2>
    <div class="content_bubble">
        <div id="user_overview"> Name : </div>
        <div id="user_overview"> Account Level : </div>
        <div id="user_overview"> Cell Number : </div>
        <div id="user_overview"> Group : </div>
    </div>
    
    <a href="/users/all">All Users List </a> <br /> <br />
    <a href="/users/new">New User </a> <br />
</div>