<div>
    <nav>
        <a href="/">Stuff Stuff</a>
        <ul>
            <li><a href="/users/new">New Users</a></li>
            <li><a href="/users/all">All Users</a></li>
            <li><a href="/users/delete">Delete User</a></li> 
        </ul>
    </nav>
</div>