<div>
    <nav>
        <a href="/">Stuff Stuff</a>
        <ul>
            <li><a href="/machines/allmachines">Machines</a></li>
            <li><a href="/machines/new">Add Machine</a></li>
            <li><a href="/machines/remove">Delete Machine</a></li> 
        </ul>
    </nav>
</div>