<% if (allMachinesArray != null) { %>
    <%  allMachinesArray.forEach(machine => { %>
        <h1><%= machine.location%></h1>
        <%- include('../partials/deleteForm', 
                {url: `/machines/remove/${machine._id}`}) %>
<% }) %>
<% } %> 

