<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
    <br /> <br /> <a href="/machines/show">All Machines List</a> <br /> <br />
    <a href="/machines/new">Add Machine</a> <br />
    <a href="/machines/delete">Delete Machine</a> <br /> <br />

    <h2> Support Services: </h2>
    <div class="content_bubble">
        <div class="individual_desk_wrapper"> 
            <img src="/assets/a1answering_logo.jpg" height="50px" width="80%"" alt="a1 answering's logo">
            <a href="tel:+(702)796-4773"> (702) 796-4773 </a>
        </div>
        <div class="individual_desk_wrapper"> 
            <img src="/assets/aristocrat_logo.png" height="50px" width="80%"" alt="aristocrat's logo">
            <a href="tel:+(800)482-3723"> (800) 482-3723 </a>
        </div>
        <div class="individual_desk_wrapper"> 
            <img src="/assets/everi_logo.png" height="50px" width="80%"" alt="everi's logo">
            <a href="tel:+(844)383-7424"> (844) 383-7424 </a>
        </div>
    </div>
</div>