<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<br />

<form action="/posts/<%= post._id %> " method="POST">
    <textarea name="comment" id="comment" placeholder="'additional comment text here'"></textarea>
    <br /> <br />
    <button id="btn_accept" type="submit"> Comment </button>
</form>
<br/> <br/>
<form action="/">
    <button id="btn_cancel"> Go Back </button>
</form>