<div>
    <label>Post</label>
    <input type="text" name="post" value="<%= post.post %>">
    <div>
        <label>Created At Date</label>
        <input type="date" name="createdAt"
            value="<%= post.createdAt == null ? '' : post.createdAt.toISOString().split('T')[0] %>">
    </div>
</div>
