<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<%- include('../partials/header.ejs') %>

<div class="wrapper">
<form action="/posts/edit/<%= post._id %>" method="POST">
    <br/>
    <label>Post Title : </label>
    <input type="text" name="post" value="<%= post.post %>">
    <br />  <br/>
    <button id="btn_accept" type="submit">Update</button>
    <a href="/"><button id="btn_cancel">Cancel</button></a>
</form>
</div>