<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
    <nav>
        <ul>
            <li><a href="/posts/all">Posts</a></li>
            <li><a href="/posts/new">New Post</a></li>
        </ul>
    </nav>
</div>