<h2><%= post.post %></h2>
<% if ( comments != null) { %>
    <% if (comments.length > 0){ %>
        <% comments.forEach(comment => { %>
            <h2> <%= comment.comment %>  </h2>
        <% }) %>
    <% } %>
<% } %>
